body {
	background-color: black;
	color: white;
	text-align: center;
}
canvas{
	margin: auto;
	display: block;
	border: 1px solid white;
}
#help {
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}
.fixed {
	position: fixed;
	bottom: 0;
}