body {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
}
canvas{
	margin: auto;
	display: block;
	border: 1px solid white;
}
#help {
	text-align: center;
	background-color: rgba(0,0,0,0.65);
	border: 2px dashed white;
	width: 850px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.fixed {
	position: fixed;
	left: 50%;
	margin-left: -425px !important;
	margin-right: 0 !important;
	bottom: 0;
}
.spectrum-container {
	margin-top: 10px;
	display: inline-block;
	position: relative;
}
.pointer {
	z-index: 50;
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid white;
}